body {
    background: #eee;
}

.side-min {
    display: block;
    background: white !important;
    height: 64px !important;
    overflow: hidden !important;
}

.side-min li a {
    color: black !important;
    padding: 20px 23px !important;
    font-size: 20px;
}

.img-user {
    width: 40px;
    border-radius: 99px;
    margin-top: -8px;
}

.side-min li a:hover {
    background: #efefef;
    font-weight: 300 !important;
}

ul.sidenav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 300px;
    background-color: #fff !important;
    position: fixed;
    height: 100%;
    overflow: auto;
    margin-left: -300px;
}

ul.sidenav li a {
    display: block;
    float: none;
    color: #333 !important;
    padding: 16px 23px;
    text-align: center;
}

ul.sidenav li a:hover:not(.active) {
    border-left: black 4px solid;
}

ul.sidenav li:last-child {
    float: none;
}

.search-hidden {
    display: none !important;
}

ul.sidenav li a:hover:not(.active) {
    font-weight: 500;
    color: #333 !important;
}

ul.sidenav .active {
    background: #222;
    color: white !important;
}

.dropdown {
    float: right;
    position: relative;
    display: inline-block;

}

.dropdown-content {
    position: fixed;
    background-color: #fff;
    font-weight: 300;
    min-width: 160px;
    overflow: auto;
    top: 64px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    right: 0;
    z-index: 97;
    transition: 0.2s;
    transform: scale(0);
}

.dropdown-content a, .dropdown-content span {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #efefef
}

.show {
    animation-name: show;
    animation-duration: 0.4s;
    animation-iteration-count: 1;
    transform: scale(1);
}

.container {
    margin: 88px 10%;
}

.count-box {
    background: white;
    border-radius: 2px;
    text-align: center;
    width: 23%;
    margin: 12px 1%;
    text-transform: uppercase;
    float: left;
    transition: 0.2s;
}

.count-box .top {
    font-size: 60px;
    font-weight: bold;
    padding: 32px 0px;
}

.count-box .bottom {
    padding: 12px 0px;
    color: white;
}

.count-box:hover {
    transform: scale(1.2);
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.4);
    animation-name: popup;
    animation-duration: 0.3s;
    animation-iteration-count: 1;
}

.bottom .btn {
    display: none;
    margin: 20px;
    text-align: left;
}

div.count-box:hover .bottom .btn {
    display: block;
}

.disabled {
    pointer-events: none;
    opacity: 0.2;
    color: #fefefe;
}

/*Modal*/
.modal-trigger {
    text-decoration: none;
    padding: 1rem;
    background: #f93434;
    display: inline-block;
    border-radius: 3px;
    margin-top: 50px;
    color: #fff;
}

.modal {
    display: none;
    background: rgba(0, 0, 0, .8);
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
}

.modal:target {
    display: table;
}

.modalDialog {
    display: table-cell;
    vertical-align: middle;
}

.modalContent {
    background: rgb(255, 255, 255);
    width: 60%;
    max-width: 50%;
    margin: auto;
    position: absolute;
    left: 25%;
    top: 180px;
    animation: slideUp 0.3s ease-in-out;
}

.modalHeader {
    background: linear-gradient(to left, #02AAB0, #00CDAC);
    color: rgba(255, 255, 255, 0.8);
    padding: 1rem;
    position: relative;
}

.modalTitle {
    margin: 0;
}

.modalClose {
    color: #fff;
    text-decoration: none;
    position: absolute;
    top: 1rem;
    right: 1rem;
}

.modalBody {
    padding: 10px;
}

@keyframes slideUp {
    from {
        opacity: 0;
        bottom: -200px;
    }
    to {
        opacity: 1;
        bottom: 0;
    }
}

/*End Modal*/
@media screen and (max-width: 900px) {
    .container {
        margin: 88px 10px;
    }
}

@media screen and (max-width: 700px) {
    .form div {
        width: 100%;
    }

    .notification {
        width: 100%;
    }
}

@media screen and (max-width: 500px) {
    .form input.input-field, .form .select-field {
        width: 100%;
    }

    .notification {
        width: 100%;
    }
}
