/* Navigation */
@keyframes nav {
  0% {
    margin-top: -51px;
  }
  75% {
    margin-top: 20px;
  }
  100% {
    margin-top: 0px;
  }
}

/* transition */
@keyframes show {
    0% {
      transform: scale(0);
    }
    80% {
      transform: scale(1.2);
    }
    100% {
      transform: scale(1);
    }
}
@keyframes popup {
    0% {
      transform: scale(1);
    }
    80% {
      transform: scale(1.4);
    }
    100% {
      transform: scale(1.2);
    }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
