@font-face {
    font-family: bebas-neue;
    src: url("../font/BebasNeue.otf");
}
@font-face {
    font-family: caviar;
    src: url("../font/CaviarDreams.ttf");
}
@font-face {
    font-family: caviar-bold;
    src: url("../font/CaviarDreams_Bold.ttf");
}
@font-face {
    font-family: caviar-bold-italic;
    src: url("../font/CaviarDreams_BoldItalic.ttf");
}
@font-face {
    font-family: caviar-italic;
    src: url("../font/CaviarDreams_Italic.ttf");
}

body {
    margin: 0;
    padding: 0;
    font-family: caviar;
    min-height: 100vh;
    font-weight: 100;
}
.blue {
    background: linear-gradient(to left, #4C53D0, #A82EEE);
}
.green {
    background: linear-gradient(to left, #02AAB0, #00CDAC);
}
.red {
    background: linear-gradient(to left, #E65C00, #F9D423);
}
.red, .blue, .red {
  color: white !important;
}
.white {
  background: white;
  color: black !important;
}
.center {
  text-align: center;
}
.btn, select {
    border-radius: 4px;
    border: none;
    cursor: pointer;
    color: white;
    padding: 12px 22px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    box-shadow: 0px 0px 9px 0px rgba(0,0,0,0.22);
    transition: 0.2s ease-in-out;
}
.btn:hover {
    transition: 0.2s ease-in-out;
    box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.22);
}
.btn-small {
  padding: 8px;
}
.btn-round {
    border-radius: 99px;
}

/* navigation */
li a img {
    width: 35px;
    height: auto;
    margin: -12px;
}
.bg-white {
  background: white;
}
ul.sidenav {
  z-index: 99;
}
ul.side-min {
  z-index:97;
}
ul.sidenav, ul.side-min {
    text-transform: uppercase;
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: transparent;
    overflow: auto;
    width: 100%;
    height: auto;
    position: fixed;
    top:0;
    /* font-family: caviar-bold; */
    transition: 0.4s ease-in-out;
}
ul.sidenav li a, ul.side-min li a {
    float: left;
    color: #fff;
    padding: 15px;
    text-decoration: none;
    font-weight: 300;
    padding-bottom: 17px;
    animation: nav 0.4s ease-in-out;
    animation-iteration-count: 1;
}
ul.sidenav li:last-child, ul.side-min li:last-child {
    float: right;
    margin-right: 12px;
}
ul.sidenav li a.active, ul.side-min li a.active {
    transition: 0.2s;
    font-family: caviar-bold;
    color: white;
}

ul.sidenav li a:hover:not(.active), ul.side-min li a:hover:not(.active) {
    font-family: caviar-bold;
    color: white;
    padding-bottom: 15px;
}
.search .input-field {
  width: 250px;
}
.side-min {
  display: none;
}
.dropdown-user {
  position: fixed !important;
  right: 0;
  top: 56px !important;
}

@media screen and (max-width: 900px) {
    .side-min {
      display: block;
    }
    ul.sidenav {
      background: white !important;
      color: black !important;
        list-style-type: none;
        margin: 0;
        padding: 0;
        width: 250px;
        background-color: #fff !important;
        position: fixed;
        height: 100%;
        overflow: auto;
        margin-left: -300px;
    }
    ul.sidenav li a {
        display: block;
        float:none;
        color: #333 !important;
        padding: 16px 23px;
        text-align: center;
    }
    .search-hidden {
      display: none !important;
    }
    ul.sidenav li a:hover {
      font-weight: 500;
      color: #333 !important;
    }
    ul.sidenav li a.active, ul.side-min li a.active {
        border: none !important;
    }
    .footer .sub {
      width: 80% !important;
      margin: 0 10%;
    }
}

@media screen and (max-width: 400px) {
    ul.sidenav li a {
        text-align: center;
        float: none;
    }
    .footer .sub {
      width: 100% !important;
      margin: 0;
    }
}
.backnav {
  background: black;
  opacity: 0.5;
  position: fixed;
  width: 50%;
  height: 50%;
  z-index: 98;
  transition: 0.3s ease-in-out;
  border-radius: 100%;
  transform: scale(1);
  right: 100%;
  bottom: 100vh;
}
.backnavctive {
  transition: 0.3s ease-in-out;
  transform: scale(8);
}
.navactive {
  margin-left: 0px !important;
}
.overhidden {
  overflow: hidden;
}

/* Form */
.form{
    width: 96%;
    padding: 20px 2% 10px 2%;
    font: 13px Arial, Helvetica, sans-serif;
}
.form-tiny {
  float: left;
  width: 75px;
  margin-left: 7px;
}
.form-heading{
    font-weight: bold;
    font-style: italic;
    border-bottom: 2px solid #ddd;
    margin-bottom: 20px;
    font-size: 15px;
    padding-bottom: 3px;
}
.form div {
  width: 46%;
  float: left;
  margin: 0% 1%;
}
.form label {
    display: block;
    margin: 15px 0px 7px 0px;
}
.form label > span {
    font-weight: bold;
    padding-top: 0px;
    padding-right: 5px;
}
.form span.required {
    color:red;
}
.form .tel-number-field {
    width: 40px;
    text-align: center;
}
.form input {
  margin-bottom: 12px;
}
.form input.input-field, .form .select-field {
    width: 48%;
}
.form input.input-field-long, .form-long .select-field-long {
  width: 100%;
}
.form input.input-field,
.form .tel-number-field,
.form .textarea-field,
 .form .select-field {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    border: 1px solid #C2C2C2;
    box-shadow: 1px 1px 4px #EBEBEB;
    -moz-box-shadow: 1px 1px 4px #EBEBEB;
    -webkit-box-shadow: 1px 1px 4px #EBEBEB;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    padding: 7px;
    outline: none;
    transition: 0.3s;
}
.form .is-invalid {
  border: 1px solid red !important;
}
.search input.input-field {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  border: 0px;
  border-radius: 99px;
  padding: 17px;
  background: white;
  color: black;
  outline: none;
  transition: 0.3s;
  height: 30px;
  margin-top: 12px;
  opacity: 0.7;
}
.search input.input-field:focus {
  transition: 0.3s;
  border: 0px;
  opacity: 1;
}
.form .input-field:focus,
.form .tel-number-field:focus,
.form .textarea-field:focus,
.form .select-field:focus {
    transition: 0.3s;
    border: 1px solid #0C0;
}
.form .textarea-field{
    height:100px;
    width: 55%;
}
.form input[type=submit],
.form input[type=button] {
    border: none;
    padding: 8px 15px 8px 15px;
    background: #FF8500;
    color: #fff;
    box-shadow: 1px 1px 4px #DADADA;
    -moz-box-shadow: 1px 1px 4px #DADADA;
    -webkit-box-shadow: 1px 1px 4px #DADADA;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
}
.form input[type=submit]:hover,
.form input[type=button]:hover {
    background: #EA7B00;
    color: #fff;
}
button:focus { outline: none; }
select:focus { outline: none; }
.search-container {
  width: 100%;
  height: 100vh;
  left: 100%;
  margin-top: -100%;
  background: #eee6;
  z-index: 102;
  transform: scale(0);
  transition: 0.4s ease-in-out;
  position: fixed;
  top: 0;
  border-radius: 100%;
}
.search-full {
  transition: 0.4s ease-in-out;
  transform: scale(8);
}
.search-box {
  position: fixed;
  top: 0;
  margin: 150px 29%;
  width: 40%;
  border: none;
  font-size: 30px;
  padding: 12px;
  outline: none;
  border-radius: 2px;
  box-shadow: 7px 7px 45px 0px rgba(0,0,0,0.3);
  transform: scale(0);
  z-index: 103;
  transition: 0.2s;
}
.show-search {
  transform: scale(1);
  animation: show;
  animation-duration: 0.4s;
}
.btn-action {
  cursor: pointer;
}
.container .content {
  background: white;
  padding: 12px;
  border-radius: 2px;
}
.content-table {
  min-width: 500px;
}
table, th, td, tr {
  border: 1px solid #222;
  padding: 0px;
  margin: 0px;
}
.table {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

.table td, .table th {
    border: 1px solid #f2f2f2;
    padding: 8px;
}

.table tr:nth-child(even){background-color: #fff;}

.table tr:hover {background-color: #f7f7f7;}

.table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: #f2f2f2;
    color: black;
}
/* Row & Col */
.row {
  width: 100%;
}
.col-10 {
  width: 10%;
}
.col-20 {
  width: 20%;
}
.col-30 {
  width: 30%;
}
.col-40 {
  width: 40%;
}
.col-50 {
  width: 50%;
}
.col-60 {
  width: 60%;
}
.col-70 {
  width: 70%;
}
.col-80 {
  width: 80%;
}
.col-90 {
  width: 90%;
}
.col-10, .col-20, .col-30, .col-40, .col-50, .col-60, .col-70, .col-80, .col-90 {
  float: left;
}
.dropdown-ku {
  position: relative;
}
.dropdown-content {
    position: absolute;
    background-color: #fff;
    font-weight: 300;
    min-width: 160px;
    overflow: auto;
    top: 43px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 97;
    transition: 0.2s;
    transform: scale(0);
}

.dropdown-content a, .dropdown-content span {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: #efefef}

.show {
  animation-name: show;
  animation-duration: 0.4s;
  animation-iteration-count: 1;
  transform: scale(1);
}
.center {
  text-align: center;
}
/* Pagination */
.pagination {
    display: inline-block;
    margin: 12px;
    background: #f1f1f1;
    padding: 5px;
}

.pagination a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
}

.pagination a.active {
    background-color: #4CAF50;
    color: white;
}

.pagination a:hover:not(.active) {background-color: #ddd;}

/*
Notification
*/
.notification {
    width: 40%;
    margin: 0% 1%;
}

.alert {
    position: relative;
    padding: 0.75rem 1.25rem;
    margin-bottom: 1rem;
    border: none;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

.alert-success {
    color: #155724;
    background-color: #d4edda;
    border-color: #c3e6cb;
}

.alert-danger {
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
}

/*
End on notification
 */

 /* Footer */
 .footer {
   width: 100%;
   background: black;
   float: left;
 }
 .footer-content {
   float: left;
    padding: 10px 20px 30px 20px;
 }
 .footer .sub {
   color: white;
   width: 33.3%;
   float: left;
 }
 .footer .sub:nth-child(2), .footer .sub:nth-child(3) {
   text-align: center;
 }
 .anggota {
   float: left;
   width: 33.3%;
 }
 .anggota img {
   text-align: center;
   border-radius: 100px;
   border: 3px solid white;
   width: 50px;
 }

/*Badge Style*/
.badge {
    border-radius: 3px;
    font-weight: 400;
    line-height: 1.3;
    font-size: 85%;
    color: #fff;
}
.badge-success {
    background-color: #15c377;
}
.badge-warning {
    background-color: #faa64b;
}