body {
  background: #eee;
}
.cover {
  width: 100%;
  max-height: 500px;
  overflow: hidden;
  position: relative;
}
.filter {
  width: 100%;
  height: 768px;
  background: linear-gradient(black, transparent);
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.3;
}
.cover img {
  width: 100%;
}
.header {
  background: linear-gradient(to left, #74ebd5, #acb6e5);
  color: white;
  padding: 1px 5%;
  float: left;
  width: 90%;
  border-bottom: 4px solid #eee;
}
.header h1 {
  font-family: caviar-bold;
  text-transform: uppercase;
}
.title {
  max-width: 60%;
  float: left;
}
.rate {
  color: black;
  float: right;
  border: 2px solid black;
  border-radius: 100px;
  margin-top: 23px;
}
.rate p {
  float: left;
  margin: 0;
  margin-top: 6px;
  margin-left: 20px;
}
.rate img {
  width: 150px;
}
.content {
  width: 100%;
  background: white;
  float: left;
}
.detail {
  width: 70%;
  float: left;
  font-family: lato;
  color: black;
}
.detail div {
  margin: 20px 20px 20px 8%;
}
.more-destination {
  width: 30%;
  float: right;
}
.more-container {
  margin: 20px;
}
.more-destination div h3 {
  text-align: center;
  border-bottom: 2px solid #999;
  padding-bottom: 12px;
}
.more-destination p {
  margin-top: 20px;
}
.list-destination {
  float: left;
  width: 100%;
}
.img-container {
  width: 50px;
  height: 50px;
  overflow: hidden;
  float: left;
  margin: 10px !important;
}
.img-container img {
  width: auto;
  height: 50px;
  overflow: hidden;
}
.name-container {
  padding-top: 10px;
}
.name-container a {
  font-family: caviar-bold;
  color: black;
  text-decoration: none;
}
.map {
  width: 100%;
  background: #f7f7f7;
  float: left;
  height: 300px;
  max-height: 300px;
}
.review {
  float: left;
  width: 80%;
  margin: 30px 10%;
  background: white;
}
.review h3 {
  font-size: 30px;
  border-bottom: 3px solid black;
  padding-bottom: 15px;
  padding-left: 20px;
  margin: 20px;
}
.list-review-container {
  width: 100%;
  height: auto;
}
.list-review {
  margin: 12px 0px;
  width: 100%;
  padding: 12px 0px 1px 0px;
  height: auto;
  position: relative;
}
.list-review:hover {
  background: #f1f1f1;
}
.user-img {
  width: 60px;
  float: left;
  padding-left: 40px;
  height: auto;
}
.user-img img {
  width: 50px;
  height: 50px;
  border-radius: 99px;
}
.content-review {
  padding-left: 40px;
  padding-right: 40px;
}
.content-review h4 {
  padding: 0;
  margin: 0;
  padding-top: 18px;
}
.content-review p {
  margin-top: 30px;
}
.this-review {
  background: #f1f1f1;
  padding: 11px;
  margin-top: 18px;
  margin-bottom: 10px;
}
@media screen and (max-width: 900px) {
  .detail {
    width: 60%;
  }
  .more-destination {
    width: 40%;
  }
}
@media screen and (max-width: 600px) {
  .title {
    width: 100%;
    max-width: 100%;
    float: left;
  }
  .rate {
    float: left;
    margin-bottom: 23px;
  }
  .detail {
    width: 100%;
  }
  .more-destination {
    width: 100%;
  }

}
