body {
  background: #eee;
}
.sidenav, .side-min {
    background: white !important;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 32px -5px !important;
}
.sidenav li a, .side-min li a {
  color: black !important;
}
.sidenav li a.active, .side-min li a.active {
  color: black !important;
  border-bottom: 3px solid black !important;
}
.container {
  margin: 100px 10% 20px 10%;
  width: 80%;
}
.article-container {
  float: left;
  width: 68%;
  background: white
}
.widget-container {
  background: white;
  width: 30%;
  float: right;
}
.article {
  margin: 20px;
}
.date-container {
  background: #ec6d2e;
  width: 10%;
  text-align: center;
  float: left;
}
.date {
  color: white;
  font-family: bebas-neue;
  letter-spacing: 0.7px;
  margin: 5px;
}
.title {
  float: right;
  width: 80%;
  text-align: center;
}
.title h1 {
  margin-top: 0px;
}
.cover img {
  max-width: 400px;
  width: 100%;
}
.cover {
  text-align: center;
}
.content {
  font-family: lato;
}
.widget h3 {
  text-align: center;
  margin-left: 20px;
  margin-right: 20px;
  border-bottom: 2px solid #999;
  border-top: 2px solid #999;
  padding: 12px 0px;
}
.list-destination {
  float: left;
  width: 100%;
}
.img-container {
  width: 50px;
  height: 50px;
  overflow: hidden;
  float: left;
  margin: 10px !important;
}
.img-container img {
  width: auto;
  height: 50px;
  overflow: hidden;
}
.name-container {
  padding-top: 10px;
}
.name-container a {
  font-family: caviar-bold;
  color: black;
  text-decoration: none;
}

.review {
  float: left;
  margin-top: 30px;
  width: 100%;
  background: white;
}
.review h3 {
  font-size: 30px;
  border-bottom: 3px solid black;
  padding-bottom: 15px;
  padding-left: 20px;
  margin: 20px;
}
.list-review-container {
  width: 100%;
  height: auto;
}
.list-review {
  margin: 12px 0px;
  width: 100%;
  padding: 12px 0px 1px 0px;
  height: auto;
  position: relative;
}
.list-review:hover {
  background: #f1f1f1;
}
.user-img {
  width: 60px;
  float: left;
  padding-left: 40px;
  height: auto;
}
.user-img img {
  width: 50px;
  height: 50px;
  border-radius: 99px;
}
.content-review {
  padding-left: 40px;
  padding-right: 40px;
}
.content-review h4 {
  padding: 0;
  margin: 0;
  padding-top: 18px;
}
.content-review p {
  margin-top: 30px;
}
.this-review {
  background: #f1f1f1;
  padding: 11px;
  margin-top: 18px;
  margin-bottom: 10px;
}
@media screen and (max-width: 900px) {
  .detail {
    width: 60%;
  }
  .article-container {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
  }
  .widget-container {
    width: 100%;
    margin-top: 20px;
    margin-left: 0;
    margin-right: 0;
  }
}
@media screen and (max-width: 600px) {
  .title {
    width: 100%;
    max-width: 100%;
    float: left;
  }
  .rate {
    float: left;
    margin-bottom: 23px;
  }
  .detail {
    width: 100%;
  }
  .container {
    margin-left: 1%;
    margin-right: 1%;
    width: 98%;
  }
}
