body {
  background: #eee;
}
.sidenav, .side-min {
    background: white !important;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 32px -5px !important;
}
.sidenav li a, .side-min li a {
  color: black !important;
}
.sidenav li a.active, .side-min li a.active {
  color: black !important;
  border-bottom: 3px solid black !important;
}
.container {
  margin-top: 100px;
  background: transparent;
}
.content {
  background: transparent !important;
}
.box {
  background: white;
  width: 18%;
  margin: 12px 1%;
  float: left;
}
.content-container {
  margin: 12px;
}
.img {
  width: 100%;
  overflow: hidden;
  height: 150px;
}
.img img {
  width: 100%;
}
.description {
  margin: 12px 0px;
}
.description a {
  text-decoration: none;
  color: black;
}

/* Gallery Details */
.content-details {
  width: 92%;
  margin: 0 4%;
  background: white;
  float: left;
}
.images {
  width: 70%;
  float: left;
}
.images-description {
  width: 30%;
  float: left;
}
.title {
  float: left;
  width: 100%;
  color: white;
  min-height: 50px;
  background: #512DA8;
  text-align: center;
}
.images img {
  width: 100%;
  margin: 20px 0px;
}
.description-container {
  margin: 5%;
}
.name-author {
  width: 80%;
  float: left;
}
.avatar-author {
  width: 20%;
  float: left;
}
.avatar-author img {
  border-radius: 99px;
  width: 100%;
  height: auto;
}
.name-author p {
  font-family: caviar-bold;
  text-align: center;
  margin-left: 12px;
  font-size: 20px;
}
.review {
  float: left;
  margin-top: 30px;
  width: 100%;
  background: white;
}
.review h3 {
  font-size: 30px;
  border-bottom: 3px solid black;
  padding-bottom: 15px;
  padding-left: 20px;
  margin: 20px;
}
.list-review-container {
  width: 100%;
  height: auto;
}
.list-review {
  margin: 12px 0px;
  width: 100%;
  padding: 12px 0px 1px 0px;
  height: auto;
  position: relative;
}
.list-review:hover {
  background: #f1f1f1;
}
.user-img {
  width: 60px;
  float: left;
  padding-left: 40px;
  height: auto;
}
.user-img img {
  width: 50px;
  height: 50px;
  border-radius: 99px;
}
.content-review {
  padding-left: 40px;
  padding-right: 40px;
}
.content-review h4 {
  padding: 0;
  margin: 0;
  padding-top: 18px;
}
.content-review p {
  margin-top: 30px;
}
.this-review {
  background: #f1f1f1;
  padding: 11px;
  margin-top: 18px;
  margin-bottom: 10px;
}
@media screen and (max-width:1365px) {
  .box {
    width: 23%;
    margin: 12px 1%;
  }
}
@media screen and (max-width:840px) {
  .box {
    width: 31%;
    margin: 1%;
  }
}
@media screen and (max-width:700px) {
  .box {
    width: 48%;
    margin: 1%;
  }
}
@media screen and (max-width:500px) {
  .box {
    width: 98%;
    margin: 1%;
  }
  .img {
    height: 250px;
  }
}
