.cover {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background-image: url("../img/bg-rumah.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
.cover > .house {
  background-image: url("../img/rumah.png");
  width: 100%;
  height: 100vh;
  position: absolute;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: scroll;
}
.cover .filter {
  background: black;
  opacity: 0.2;
  width: 100%;
  height: 100vh;
  position: absolute;
}
.cover > .text {
  position: absolute;
  z-index: 1;
  width: 100%;
  margin-top: 20vh;
}
.cover .text h1, .cover .text h2 {
  text-align: center;
  color: white;
}
.text h1 {
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 1rem;
  font-size: 5rem;
  margin-top: 0px;
  animation: title 1s ease-in-out;
}
.text h2 {
  font-weight: 300;
  font-size: 2rem;
  animation: description 1s ease-in-out;
}
.layer1, .layer2, .layer3, .layer4, .footer {
  width: 100%;
  position: relative;
  float: left;
}
@keyframes title {
  0% {
    margin-top: 50px;
    opacity: 0;
  }
  100% {
    margin-top: 0px;
    opacity: 1;
  }
}
@keyframes description {
  0% {
    padding-top: 50px;
    opacity: 0;
  }
  75% {
    padding-top: 50px;
    opacity: 0;
  }
  100% {
    padding-top: 0px;
    opacity: 1;
  }
}
/* LAYER 1 */
.layer1 {
  background-position: top;
  background: #B7DDEB url("../img/tembok.png");
  background-size: 1366px;
  background-repeat: no-repeat;
  padding-top: 50px;
  padding-bottom: 50px;
}
.layer1 h3, .layer1 h5 {
  color: #333;
  margin: 0;
  padding: 0;
  text-align: center;
  margin: 0px 20px;
}
.layer1 h3 {
  text-transform: uppercase;
  font-size: 5rem;
  font-weight: 300;
  font-family: bebas-neue;
}
.layer1 h5 {
  font-size: 1.5rem;
  font-weight: 300;
  padding-bottom: 30px;
}

.layer1 .content .box {
  width: 23%;
  margin: 0 1%;
  padding-bottom: 14px;
  background: white;
  border-radius: 2px;
  min-height: 100px;
  overflow: hidden;
  position: relative;
  float: left;
  box-shadow: 0px 0px 46px -10px rgba(0,0,0,0.75);
  /* --- */
  margin-bottom: 30px;
  margin-top: -30px;
  opacity: 0;
}
.layer1 .content .box img {
  width: 100%;
}
.layer1 .content .box p {
  margin: 0;
  font-size: 38px;
  font-family: bebas-neue;
  font-weight: 100;
  letter-spacing: 1px;
  text-align: center;
  margin: 12px 0px -2px 0px;
}
/* LAYER2 */
.layer2 {
  background: linear-gradient(#B7DDEB, white);
  position: relative;
  padding-bottom: 50px;
}
.layer2 .bg {
  width: 100%;
  height: 768px;
  background-position: top;
  background-image: url("../img/pasir.png");
  background-size: 100%;
  background-repeat: no-repeat;
  position: absolute;
}
.layer2 .harta {
  width: 50%;
  top: 0;
  float: left;
  position: relative;
}
.layer2 .box {
  width: 40%;
  transform: scale(0);
  float: left;
  border-radius: 2px;
  position: relative;
  margin: 100px 5% 0px 5%;
  background: white;
  box-shadow: 0px 0px 46px -10px rgba(0,0,0,0.75);
}
.layer2 .box h5 {
  text-transform: uppercase;
  text-align: center;
  font-size: 1.7rem;
  margin: 0;
  padding: 30px 0px;
  font-family: caviar-bold;
  border-bottom: 5px dotted black;
}
.layer2 .box .box-content {
  text-align: center;
}
.city {
  width: 33.33%;
  padding: 12px 0px;
  float: left;
}
.city:hover {
  background: #f1f1f1;
}
.city img {
  width: 50%;
  margin: 12px 25%;
  border-radius: 99px;
}
.city a {
  text-transform: none;
  text-decoration: none;
  color: black;
}
.city-more {
  margin: 20px 0px 30px 0px;
}

/* Layer 3 */
.layer3 {
  padding: 50px 0;
}
.layer3 .top h5 {
  font-size: 2rem;
  float: left;
  margin: 0px 0px 0px 23px;
}
.layer3 .top {
  width: 100%;
  height: auto;
  margin-top: 23px;
  text-align: right;
  position: relative;
}

.tgl {
  margin-right: 20%;
}
.layer3 .content {
  float: left;
}
.layer3 .content .box {
  width: 30.3%;
  text-decoration: none;
  color: black;
  position: relative;
  margin: 1.5%;
  background: white;
  box-shadow: 0px 0px 46px -10px rgba(0,0,0,0.75);
  float: left;
  /* --- */
  transform: scale(0);
}
.layer3 .content .box p {
  margin: 12px 20px;
  font-family: caviar;
  font-size: 20px;
  color: black;
}
.layer3 .bg {
  width: 100%;
  height: 768px;
  background-position: bottom;
  background-image: url("../img/batik.png");
  background-size: 100%;
  background-repeat: no-repeat;
  position: absolute;
  bottom: 0;
}
.layer3 .content .box .date {
  position: absolute;
  background: #D33900;
  padding: 12px;
  right: 23px;
  text-align: center;
  color: white;
  font-family: bebas-neue;
  line-height: 23px;
}
.layer3 .content .box img {
  width: 100%;
}
.date div:nth-child(1) {
  font-size: 40px;
}
.date div:nth-child(3) {
  font-size: 25px;
}
.layer3 .bottom {
    text-align: center;
    float: left;
    width: 100%;
}
.layer3 .bottom a {
  position: relative;
  margin-top: 30px;
  font-size: 20px;
}

/* Layer 4 */
.layer4 {
  background: #eee;
  padding: 10px 0 30px 0;
}
.layer4 .content {
  padding: 20px 0 0 0;
}
.tempelan {
  padding-left: 10%;
  width: 40%;
  font-size: 30px;
  float: left;
}
.tempelan p {
  margin: 0;
}
.dropdown-button {
  width: 25%;
  float: left;
}
.layer4 .content .bottom {
  width: 100%;
  padding-top: 90px;
}
.layer4 .content .bottom .box {
  width: 16.2%;
  float: left;
  margin: 1%;
  background: white;
  /* --- */
  opacity: 0;
}
.layer4 .content .bottom .box img {
  width: 100%;
}
.layer4 .content .bottom .box {
  background: white;
  width: 18%;
  margin: 12px 1%;
  float: left;
}
.layer4 .content .bottom .box .content-container {
  margin: 12px;
}
.layer4 .content .bottom .box .content-container .img {
  width: 100%;
  overflow: hidden;
  height: 150px;
}
.layer4 .content .bottom .box .content-container  .img img {
  width: 100%;
}
.layer4 .content .bottom .box .content-container  .description {
  margin: 12px 0px;
}
.layer4 .content .bottom .box .content-container .description a {
  text-decoration: none;
  color: black;
}
@media screen and (max-width:1365px) {
  .layer4 .content .bottom .box {
    width: 23%;
    margin: 12px 1%;
  }
}
@media screen and (max-width:840px) {
  .layer4 .content .bottom .box {
    width: 31%;
    margin: 1%;
  }
}
@media screen and (max-width:700px) {
  .layer4 .content .bottom .box {
    width: 48%;
    margin: 1%;
  }
}
@media screen and (max-width:500px) {
  .layer4 .content .bottom .box {
    width: 98%;
    margin: 1%;
  }
  .layer4 .content .bottom .box .content-container .img {
    height: 250px;
  }
}
.bottom-2 {
    text-align: center;
    float: left;
    width: 100%;
}
/* Responsive */
@media screen and (max-width: 900px) {
  .layer1 .content .box {
    width: 44%;
    margin: 20px 3% ;
  }
  .layer1 .content .box p {
    font-size: 20px;
  }
  .layer2 .box {
    margin-top: 0px;
    width: 50%;
  }
  .layer2 .box h5 {
    font-size: 22px;
  }
  .layer2 .harta {
    width: 40%;
  }
}
@media screen and (max-width: 800px) {
  .content .sub {
    width: 100%;
    padding-bottom: 10px;
    border-bottom: 1px solid #222;
  }
  .content .sub:last-child {
    border: none;
  }
  .layer3 .content .box {
    width: auto;
    margin: 15px 20%;
    max-width: 60%;
  }
}
@media screen and (max-width: 600px) {
  .layer2 .harta {
    width: 100%;
  }
  .layer2 .box {
    width: 90%;
  }
  .layer3 .content .box {
    width: auto;
    margin: 15px 10%;
    max-width: 80%;
  }
}

@media screen and (max-width: 400px) {
  .cover .text h1 {
    font-size: 3rem;
  }
  .cover .text h2 {
    font-size: 1rem;
  }
  .layer1 .content .box {
    width: 90%;
    margin: 20px 5%;
  }
  .layer3 .content .box {
    width: auto;
    margin: 15px 5%;
    max-width: 90%;
  }
}
/* Disable Animation if screen 1365px */
@media screen and (max-width: 1365px) {
  .layer1 .content .box {
    margin-bottom: 12px;
    margin-top: 12px;
    opacity: 1;
  }
  .layer2 .box {
    transform: scale(1);
  }
  .layer3 .content .box {
    transform: scale(1);
  }
}
