body {
  background: #eee;
}
.cover {
  width: 100%;
  max-height: 400px;
  overflow: hidden;
}
.filter {
  width: 100%;
  height: 400px;
  opacity: 0.3;
  background: linear-gradient(black, transparent);
  position: absolute;
  top: 0; left: 0;
}
.cover img {
  width: 100%;
}
.header {
    background: white;
    position: relative;
    float: left;
    width: 100%;
    margin-top: -2px;
}
.header h1 {
}
.header span {
  float: left;
  margin-left: 15%;
  width: 60%;
}
.dropdown {
    float: right;
    margin-right: 15%;
    margin-top: 16px;
}
.dropdown-content {
  top: 59px;
  right: 15%;
}
.content {
  width: 60%;
  margin: 20px 20%;
  float: left;
}
.box {
  width: 100%;
  background: white;
  color: black;
  float: left;
  margin-top: 15px;
}
.img {
  width: 30%;
  float: left;
}
.img img {
  float: left;
  width: 100%;
}
.article {
  float: left;
  width: 70%;
}
.description {
  border-bottom: 2px solid #d4d4d4;
  margin: 12px;
  padding-bottom: 12px;
}
.description span:nth-child(1) {
  padding: 6px;
  background: #ec6d2e;
  font-family: bebas-neue;
}
.description span:nth-child(2) {
  color: #545454;
}
.description span:nth-child(3) {
  float: right;
  color: #696969;
}
.title {
  margin: 14px;
}
h3 a {
  text-decoration: none;
  color: black;
}
@media screen and (max-width: 1125px) {
  .content {
    width: 96%;
    margin: 20px 2%;
  }
}
@media screen and (max-width: 800px) {
  .header span {
    width: 90%;
    margin-left: 10%;
  }
  .dropdown {
    float: left;
    margin-left: 10%;
    margin-bottom: 12px;
    margin-top: 0px;
  }
  .dropdown-content {
    top: 122px;
    left: 10%;
    right: auto;
  }
}
@media screen and (max-width: 700px) {
  .img {
    width: 100%
  }
  .article {
    width: 100%
  }
}
@media screen and (max-width: 500px) {
  .description span {
    font-size: 12px;
  }
  .description span:nth-child(3) {
    margin-top: 4px;
  }
}
/* transition destination index */
.header h1 {
  animation-name: fadeIn;
  animation-duration: 2s;
  transition: 2s ease-in-out;
}
.box {
  animation-name: fadeIn;
  animation-duration: 1s;
  transition: 1s ease-in-out;
}
